<div class="card cardbackground" style="background-image:url('https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
    <div class="card-top">
        <img class="img-fluid" style="height:50px; width:50px; border-radius: 27px;" src="https://www.w3schools.com/howto/img_avatar.png" alt="notfound">
        <div style="display: inline-block;" class="ml-2">
            <b class="headerfontcolor">Basket ball academy</b>
            <br>
            <small class="headerfontcolor">created 5 months ago</small>
        </div>
    </div>
    <div class="card-bottom">
        <div style="position:relative; width:50%; height: 50px;">
          
              <img class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
              bottom: 10px; left:10px"src="https://www.w3schools.com/howto/img_avatar.png" alt="notfd">
               <img class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
               bottom: 10px; left:20px"src="https://www.w3schools.com/howto/img_avatar.png" alt="notfd">
                <img class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
                bottom: 10px; left:30px"src="https://www.w3schools.com/howto/img_avatar.png" alt="notfd">
                 <img class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
                 bottom: 10px; left:40px"src="https://www.w3schools.com/howto/img_avatar.png" alt="notfd">
        </div>
        <div>
            <span class="fa fa-list-alt headerfontcolor">5</span>
            <span class="ml-2 fa fa-comment-o headerfontcolor">1</span>
        </div>
    </div>
  </div>
