<div class="rating-card">
    <div class="title justify-content-center">
        <div class="title-row row">
            <div class="title-image"></div>
            <div class="title-mention">
                <span>Artificial Intelligence</span>
            </div>
        </div>
    </div>

    <div class="andromeda">
        <div class="andromeda-row">
            <span class="star on"></span>
            <span class="star on"></span>
            <span class="star on"></span>
            <span class="star on"></span>
            <span class="star half"></span>
        </div>
    </div>

    <div class="review-count">
        <span>211 Reviews</span>
    </div>

    <div class="review-info">
        <div class="review-info-row">
            <div class="review-by">
                <span>June 09</span>
            </div>
            <div class="separator">
                <i class="fas fa-circle"></i>
            </div>
            <div class="review-by">
                <span>5:45pm</span>
            </div>
            <div class="separator">
                <i class="fas fa-circle"></i>
            </div>
            <div class="user-image"></div>
            <div class="review-by">
                <span>Sasha Cooper</span>
            </div>
        </div>
    </div>
